body {
  padding: 0px;
}

.magnify {
  margin: 20px auto;
  display: inline-block;
  position: relative;
  left: 50%;
  width:100%;
  transform: translateX(-50%);
}


.magnify .magnified {
  display: block;
  z-index: 10;
  margin: auto;
  width: 100%
}


.magnify .magnifier {
  height: 250px;
  width: 250px;
  position: absolute;
  z-index: 20;
  border: 4px solid white;
  border-radius: 50%;
  background-size: 1000%;
  background-repeat: no-repeat;
  margin-left: -125px !important;
  margin-top: -125px !important;
  pointer-events: none;
  display: none;
}


img{
  width: 100%;
}
