body {
  padding: 0px;
}

.magnify {
  margin: 20px auto;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.magnify .magnified {
  display: block;
  z-index: 10;
  margin: auto;
  width: 600px;
  height: 450px;
  border: 5px solid #fff;
}
.magnify .magnifier {
  height: 200px;
  width: 200px;
  position: absolute;
  z-index: 20;
  border: 4px solid white;
  border-radius: 50%;
  background-size: 1000%;
  background-repeat: no-repeat;
  margin-left: -100px !important;
  margin-top: -100px !important;
  pointer-events: none;
  display: none;
}
img{
  width: 100%;
  height:100%;
}
